/* You can add global styles to this file, and also import other style files */
:root {
  --font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #252330;
}

p,a,h1,h2,h3,h4,h5,h6,button,label,input {
  font-family: var(--font-family);
  color: #fff;
  text-align: center;
  font-weight: 400;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3, button {
  font-size: 32px;
}

h4, label, input {
  font-size: 22px;
}

input {
  text-align: left;
}

p, a {
  font-size: 18px;
}

button{
  border-radius: 20px;
  padding: 15px 50px;
  background: #605c7c;
  border: none;
  cursor: pointer;
}

button:hover{
  background: #807aa6;
}

input {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background: #333140;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: #cbcbcb;
}
