<div class="container">
  <div class="welcome-text">
    <p>Решай!</p>
    <p>Качай скилл!</p>
    <h1>Добро пожаловать в SkillsetLab.io</h1>
    <p>Создавай!</p>
    <p>Пробуй новое!</p>
  </div>
  <form class="login-form">
    <label for="email">Почта</label>
    <input type="email" id="email" name="email" placeholder="test@gmail.com">

    <label for="password">Пароль</label>
    <input type="password" id="password" name="password" placeholder="qwerty123456">

    <button type="submit">Вход</button>

    <p class="register-text">Нет аккаунта? <a href="#">Зарегистрируйся!</a></p>
  </form>
</div>
