.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
}

.login {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 25px;
  gap: 20px;
  padding: 25px 34px 25px 40px;
  background: #3c394a;
}

.login button {
  width: auto;
  align-self: center;
}

.field {
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.field input{
  width: 100%;
}

.field label {
  margin: 0 30px;
}

.error{
  color: red;
}

.motivator {
  position: absolute;
}

#motivator1 {
  left: 7%;
  top: 13%;
  transform: rotate(16deg);
}

#motivator2 {
  left:  8%;
  bottom: 15%;
  transform: rotate(-20deg);
}

#motivator3 {
  right: 8%;
  top: 14%;
  transform: rotate(-14deg);
}

#motivator4 {
  right: 7%;
  bottom: 14%;
  transform: rotate(20deg);
}
